extends base/layouts/basic
block title
  title Test workflow
block content
  .container
    h1 Test workflow for Alexander Sharkov
      h2 Sprite test:
    .row
      .col-6
        i.sprite-icon-github
      .col-6
        i.sprite-icon-fork