script
  | window.jQuery || document.write('<script src="js/vendors/jquery.min.js"><\/script>');
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="js/script.min.js")